# Hyperparameter Tuning - Churn Modelling

In [1]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import Counter
#np.set_printoptions(threshold=np.inf)
np.set_printoptions(threshold=1000)

# Importing the Dataset

In [2]:
df = pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Checking null Values
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [4]:
x= df.iloc[:,3:-1]
print(type(x))
x

<class 'pandas.core.frame.DataFrame'>

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [5]:
y= df.iloc[:,-1].values
print(type(y))
y

<class 'numpy.ndarray'>

array([1, 0, 1, ..., 1, 1, 0], dtype=int64)

In [6]:
df.iloc[:,-1].value_counts()

Exited
0    7963
1    2037
Name: count, dtype: int64

# Encoding Categorical Data

In [7]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder,OrdinalEncoder

In [8]:
ct = ColumnTransformer(transformers=[('Country',OneHotEncoder(),[1]),('Gender',OrdinalEncoder(),[2])],remainder='passthrough')
x= ct.fit_transform(x)
# Avoiding Dummy variable Trap
x=x[:,1:]

# Spliting the Dataset

In [9]:
from sklearn.model_selection import train_test_split
X, x_hold_out ,Y, y_hold_out = train_test_split(x,y,test_size=0.2,random_state=42,stratify=y)
print(X.shape,x_hold_out.shape,Y.shape,y_hold_out.shape)

(8000, 11) (2000, 11) (8000,) (2000,)

In [10]:
print(f"Ratio in hold_out_set -> {Counter(y_hold_out)[1]/len(y_hold_out)}")
print(f"Ratio in for cross validate set -> {round(Counter(Y)[1]/len(Y),3)}")

Ratio in hold_out_set -> 0.2035
Ratio in for cross validate set -> 0.204

# Feature Scaling

In [11]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
X=sc.fit_transform(X)
x_hold_out=sc.transform(x_hold_out)

# Building Neural Network

In [12]:
import tensorflow as tf
tf.__version__

'2.13.0'

## Hyperparameter

In [13]:
params={
    'batch_size':[20,25],
    'epochs':[50,70],
    'model__neurons_1':[6,7],
    'model__neurons_2':[4,3],
    'model__activation':['relu','softmax'],
    'model__optimizer':['adam','rmsprop'],
    'model__dropout':[0.1,0.2]
    }

In [14]:
def create_model(neurons_1,neurons_2,activation,optimizer,dropout):
    nn = tf.keras.Sequential()
    nn.add(tf.keras.layers.Input(shape=11))
    nn.add(tf.keras.layers.Dense(units=neurons_1,activation=activation,kernel_initializer='glorot_uniform'))
    nn.add(tf.keras.layers.Dropout(rate=dropout))
    nn.add(tf.keras.layers.Dense(units=neurons_2,activation=activation))    
    nn.add(tf.keras.layers.Dropout(rate=dropout))
    nn.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))
    nn.compile(optimizer=optimizer,loss='binary_crossentropy',metrics=['accuracy'])
    return nn

In [15]:
from scikeras.wrappers import KerasClassifier
model = KerasClassifier(model=create_model)

# GridSearchCV

In [16]:
from sklearn.model_selection import GridSearchCV
gs= GridSearchCV(estimator=model, param_grid=params,scoring='accuracy',cv=10,n_jobs=-1,return_train_score=True,verbose=0)

In [17]:
gs=gs.fit(X,Y)

c:\Users\sauron\anaconda3\envs\dl\Lib\site-packages\joblib\externals\loky\process_executor.py:752: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  warnings.warn(

Epoch 1/70
320/320 [==============================] - 1s 2ms/step - loss: 0.6757 - accuracy: 0.5691
Epoch 2/70
320/320 [==============================] - 1s 2ms/step - loss: 0.5521 - accuracy: 0.7962
Epoch 3/70
320/320 [==============================] - 1s 2ms/step - loss: 0.5115 - accuracy: 0.7962
Epoch 4/70
320/320 [==============================] - 0s 1ms/step - loss: 0.4939 - accuracy: 0.7962
Epoch 5/70
320/320 [==============================] - 0s 1ms/step - loss: 0.4819 - accuracy: 0.7962
Epoch 6/70
320/320 [==============================] - 0s 1ms/step - loss: 0.4699 - accuracy: 0.7962
Epoch 7/70
320/320 [==============================] - 0s 1ms/step - loss: 0.4606 - accuracy: 0.7962
Epoch 8/70
320/320 [==============================] - 0s 1ms/step - loss: 0.4552 - accuracy: 0.7962
Epoch 9/70
320/320 [==============================] - 0s 1ms/step - loss: 0.4508 - accuracy: 0.7962
Epoch 10/70
320/320 [==============================] - 0s 1ms/step - loss: 0.4470 - accuracy: 0.7962
Epoch 11/70
320/320 [==============================] - 0s 1ms/step - loss: 0.4409 - accuracy: 0.7965
Epoch 12/70
320/320 [==============================] - 0s 1ms/step - loss: 0.4408 - accuracy: 0.7964
Epoch 13/70
320/320 [==============================] - 0s 1ms/step - loss: 0.4352 - accuracy: 0.7991
Epoch 14/70
320/320 [==============================] - 0s 1ms/step - loss: 0.4349 - accuracy: 0.8046
Epoch 15/70
320/320 [==============================] - 0s 1ms/step - loss: 0.4324 - accuracy: 0.8076
Epoch 16/70
320/320 [==============================] - 0s 1ms/step - loss: 0.4288 - accuracy: 0.8099
Epoch 17/70
320/320 [==============================] - 0s 1ms/step - loss: 0.4250 - accuracy: 0.8177
Epoch 18/70
320/320 [==============================] - 0s 1ms/step - loss: 0.4226 - accuracy: 0.8206
Epoch 19/70
320/320 [==============================] - 1s 2ms/step - loss: 0.4181 - accuracy: 0.8238
Epoch 20/70
320/320 [==============================] - 0s 1ms/step - loss: 0.4208 - accuracy: 0.8236
Epoch 21/70
320/320 [==============================] - 0s 1ms/step - loss: 0.4164 - accuracy: 0.8261
Epoch 22/70
320/320 [==============================] - 0s 2ms/step - loss: 0.4100 - accuracy: 0.8291
Epoch 23/70
320/320 [==============================] - 0s 2ms/step - loss: 0.4112 - accuracy: 0.8259
Epoch 24/70
320/320 [==============================] - 0s 1ms/step - loss: 0.4101 - accuracy: 0.8289
Epoch 25/70
320/320 [==============================] - 0s 1ms/step - loss: 0.4019 - accuracy: 0.8341
Epoch 26/70
320/320 [==============================] - 0s 1ms/step - loss: 0.4037 - accuracy: 0.8304
Epoch 27/70
320/320 [==============================] - 0s 1ms/step - loss: 0.4023 - accuracy: 0.8372
Epoch 28/70
320/320 [==============================] - 1s 2ms/step - loss: 0.3977 - accuracy: 0.8385
Epoch 29/70
320/320 [==============================] - 1s 2ms/step - loss: 0.3987 - accuracy: 0.8351
Epoch 30/70
320/320 [==============================] - 0s 2ms/step - loss: 0.3948 - accuracy: 0.8331
Epoch 31/70
320/320 [==============================] - 1s 2ms/step - loss: 0.3940 - accuracy: 0.8381
Epoch 32/70
320/320 [==============================] - 1s 2ms/step - loss: 0.3909 - accuracy: 0.8401
Epoch 33/70
320/320 [==============================] - 1s 2ms/step - loss: 0.3951 - accuracy: 0.8371
Epoch 34/70
320/320 [==============================] - 0s 2ms/step - loss: 0.3945 - accuracy: 0.8354
Epoch 35/70
320/320 [==============================] - 0s 1ms/step - loss: 0.3887 - accuracy: 0.8385
Epoch 36/70
320/320 [==============================] - 0s 1ms/step - loss: 0.3905 - accuracy: 0.8394
Epoch 37/70
320/320 [==============================] - 0s 1ms/step - loss: 0.3907 - accuracy: 0.8366
Epoch 38/70
320/320 [==============================] - 0s 1ms/step - loss: 0.3902 - accuracy: 0.8395
Epoch 39/70
320/320 [==============================] - 0s 1ms/step - loss: 0.3902 - accuracy: 0.8357
Epoch 40/70
320/320 [==============================] - 0s 1ms/step - loss: 0.3849 - accuracy: 0.8385
Epoch 41/70
320/320 [==============================] - 0s 1ms/step - loss: 0.3859 - accuracy: 0.8339
Epoch 42/70
320/320 [==============================] - 0s 1ms/step - loss: 0.3852 - accuracy: 0.8413
Epoch 43/70
320/320 [==============================] - 0s 1ms/step - loss: 0.3877 - accuracy: 0.8354
Epoch 44/70
320/320 [==============================] - 0s 1ms/step - loss: 0.3823 - accuracy: 0.8425
Epoch 45/70
320/320 [==============================] - 0s 1ms/step - loss: 0.3821 - accuracy: 0.8422
Epoch 46/70
320/320 [==============================] - 0s 1ms/step - loss: 0.3855 - accuracy: 0.8382
Epoch 47/70
320/320 [==============================] - 1s 2ms/step - loss: 0.3829 - accuracy: 0.8419
Epoch 48/70
320/320 [==============================] - 0s 1ms/step - loss: 0.3836 - accuracy: 0.8374
Epoch 49/70
320/320 [==============================] - 0s 1ms/step - loss: 0.3804 - accuracy: 0.8406
Epoch 50/70
320/320 [==============================] - 0s 1ms/step - loss: 0.3830 - accuracy: 0.8393
Epoch 51/70
320/320 [==============================] - 0s 1ms/step - loss: 0.3818 - accuracy: 0.8410
Epoch 52/70
320/320 [==============================] - 0s 1ms/step - loss: 0.3825 - accuracy: 0.8394
Epoch 53/70
320/320 [==============================] - 0s 1ms/step - loss: 0.3829 - accuracy: 0.8388
Epoch 54/70
320/320 [==============================] - 0s 1ms/step - loss: 0.3827 - accuracy: 0.8395
Epoch 55/70
320/320 [==============================] - 0s 1ms/step - loss: 0.3809 - accuracy: 0.8413
Epoch 56/70
320/320 [==============================] - 0s 1ms/step - loss: 0.3776 - accuracy: 0.8418
Epoch 57/70
320/320 [==============================] - 0s 1ms/step - loss: 0.3811 - accuracy: 0.8406
Epoch 58/70
320/320 [==============================] - 0s 1ms/step - loss: 0.3775 - accuracy: 0.8430
Epoch 59/70
320/320 [==============================] - 0s 1ms/step - loss: 0.3790 - accuracy: 0.8413
Epoch 60/70
320/320 [==============================] - 0s 1ms/step - loss: 0.3737 - accuracy: 0.8464
Epoch 61/70
320/320 [==============================] - 0s 2ms/step - loss: 0.3774 - accuracy: 0.8431
Epoch 62/70
320/320 [==============================] - 0s 1ms/step - loss: 0.3773 - accuracy: 0.8428
Epoch 63/70
320/320 [==============================] - 0s 1ms/step - loss: 0.3759 - accuracy: 0.8425
Epoch 64/70
320/320 [==============================] - 0s 1ms/step - loss: 0.3789 - accuracy: 0.8405
Epoch 65/70
320/320 [==============================] - 0s 1ms/step - loss: 0.3760 - accuracy: 0.8418
Epoch 66/70
320/320 [==============================] - 0s 1ms/step - loss: 0.3748 - accuracy: 0.8446
Epoch 67/70
320/320 [==============================] - 0s 1ms/step - loss: 0.3765 - accuracy: 0.8436
Epoch 68/70
320/320 [==============================] - 0s 2ms/step - loss: 0.3745 - accuracy: 0.8428
Epoch 69/70
320/320 [==============================] - 0s 1ms/step - loss: 0.3768 - accuracy: 0.8457
Epoch 70/70
320/320 [==============================] - 0s 1ms/step - loss: 0.3771 - accuracy: 0.8389

In [18]:
gs.best_score_

0.86175

In [19]:
gs.best_params_

{'batch_size': 25,
 'epochs': 70,
 'model__activation': 'softmax',
 'model__dropout': 0.1,
 'model__neurons_1': 6,
 'model__neurons_2': 4,
 'model__optimizer': 'adam'}